*{
	margin: 0;
	padding: 0;
}
#container {
	width: 1200px;
	margin: 0 auto;
	border: 1px solid black;
	font-family:arial, verdana, sans-serif; 
}
    #header {
		background: brown;
		width: 1180px;
		height: 80px;
		padding: 20px 10px;
		color: white;
	}
	#nav {
		background: orange;
		width: 1200px;
		height: 50px;
	}
	    #nav ul [
		    list-style: none;
		]
		    #nav ul li {
				float:left;
			}
	#middle {
		background: gray;
		width: 1200px;
		height: 400px;
		padding: 10px 0;
		 
	}
	    #left { 
		    background: lightgreen;
			width: 800px;
			height: 300px;
			float: left;
		}
		#right {
			background: lightblue;
			width: 400px;
			height: 300px; 
			float: left;
		}
	#footer {
		background: brown;
		width: 1200px;
		height: 50px;
	}